@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fbe9e7;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px #000;
}

.card:hover .imgBox {
  transform: rotateY(-180deg);
}

.imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: #000;
  transition: 1s;
}

.imgBox img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  object-fit: cover;
  backface-visibility: hidden;
}

.imgBox img:nth-child(2) {
  transform: rotateY(180deg);
}

.details {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h2 {
  text-align: center;
  font-weight: 900;
  line-height: 1em;
  font-size: 2.3em;
  animation: animate ease-in-out 5s infinite;
  text-shadow: 5px 5px 10px #000;
}

@keyframes animate {
  0% {
    color: #e21212;
  }
  10% {
    color: #ff00ff;
  }
  20% {
    color: #8000ff;
  }
  30% {
    color: #0000ff;
  }
  40% {
    color: #0080ff;
  }
  50% {
    color: #00ffff;
  }
  60% {
    color: #00ff80;
  }
  70% {
    color: #40ff00;
  }
  80% {
    color: #bfff00;
  }
  90% {
    color: #ff8000;
  }
  100% {
    color: #ff0000;
  }
}
.content span {
  color: red;
  font-size: 2em;
  font-weight: 900;
  width: 13ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(27, end);
  text-shadow: 5px 5px 10px #000;
}

@keyframes typing {
  from {
    width: 0;
  }
}

.social-icons {
  position: relative;
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 8px 8px 15px #000;
  animation: animates 3s linear infinite;
}

@keyframes animates {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.social-icons a:hover {
  background: #e21212;
  box-shadow: -8px -8px -15px #000;
}
